<h1 mat-dialog-title>Add new post</h1>

<div mat-dialog-content>
    <form [formGroup]="addingPostForm" (ngSubmit)="addPost()">
        <mat-form-field style="width: 100%">
            <mat-label>Post Title</mat-label>
            <input type="text" formControlName="postTitle" minlength="5" required matInput>
            <mat-hint *ngIf="addingPostForm.get('postTitle')?.invalid && (addingPostForm.get('postTitle')?.touched || addingPostForm.get('postTitle')?.dirty)" align="end">
                Post title is required with minimum 5 characters
            </mat-hint>
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <mat-label>Author</mat-label>
            <input type="text" formControlName="author" minlength="5" required matInput>
            <mat-hint *ngIf="addingPostForm.get('author')?.invalid && (addingPostForm.get('author')?.touched || addingPostForm.get('author')?.dirty)" align="end">
                Author is required with minimum 5 characters
            </mat-hint>
        </mat-form-field>
        <button mat-raised-button color="warn" type="submit" [disabled]="addingPostForm.invalid">Add Post</button>
    </form>
</div>
