<app-hero [hero]="heroData"></app-hero>

<div class="container-md">
    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
        <table style="width: 100%">
            <tr>
                <td>
                    <mat-form-field style="width: 100%">
                        <mat-label>Name</mat-label>
                        <input formControlName="name" id="name" matInput>
                        <mat-hint *ngIf="emailForm.get('name')?.touched || emailForm.get('name')?.dirty" align="end">
                            Name is required
                        </mat-hint>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field style="width: 100%">
                        <mat-label>Surname</mat-label>
                        <input formControlName="surname" matInput>
                        <mat-hint *ngIf="emailForm.get('surname')?.invalid && (emailForm.get('surname')?.touched || emailForm.get('surname')?.dirty)" align="end">
                            Surname is required
                        </mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <mat-form-field style="width: 100%">
            <mat-label>Your email</mat-label>
            <input formControlName="email" matInput>
            <mat-hint *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.touched || emailForm.get('email')?.dirty)" align="end">
                Email is required
            </mat-hint>
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <mat-label>Message</mat-label>
            <textarea formControlName="content" matInput></textarea>
            <mat-hint *ngIf="emailForm.get('content')?.invalid && (emailForm.get('content')?.touched || emailForm.get('content')?.dirty)" align="end">
                Content is required
            </mat-hint>
        </mat-form-field>
        <button style="width: 100%; border-radius: 0" mat-raised-button color="warn" type="submit">Send email</button>
    </form>
</div>
